html {
    margin: 0; 
    padding: 0;
}

body { 
    background: rgb(230, 249, 255); /* Фоновый цвет и фоновый рисунок*/
	color: black; /*Цвет текста на странице*/
}

.data {
    width: 50%;
    border-width: 1px;
    border-radius: 10px;
    border: 1px black;
    border-collapse:collapse;
}

.wrapper {
    display: grid;
    justify-items: center;
    gap: 10px;
    
}

/* многоточие делается через стили */