html {
    margin: 0; 
    padding: 0;
}

body { 
    background: rgb(230, 249, 255);
	color: black;
}

.wrapper {
    display: grid;
    justify-items: center;
    gap: 10px;
}

.table-container {
    /* 
    это нужно, чтобы при небольшой ширине экрана таблица сохраняла размер в 50%,
    добавляется полоса прокрутки
    при необходимости можно аналогично использовать для меню
    */
    width: 50%;
    overflow-x: auto;
}

.data {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: none;
} 

th {
    height: 2.3em;
    padding: 5px;
    background: rgb(208, 243, 253);
    border: none;
    border-right: 1px solid rgb(185, 240, 255);
}

td {
    /* для скрытия видимых частей следующей строки 
    у колонки about из-за изменения высоты */
    line-height: 1.2;

    height: 2.3em;

    padding: 4px;
    background: rgb(241, 252, 255);
    border: none;
    border-right: 1px solid rgb(185, 240, 255);
}

.about {
    /* 
    отображение только первых двух строк
    поддерживается всеми браузерами,
    кроме IE, OperaMini, KaiOS Browser из-за -webkit-
    для полной поддержки можно сделать это с помощью JS 
    */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.eyeColor {
    white-space: pre;
    border-right: none;
}

.eye {
	display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;

    /* Создание картинки глаза */
	background-image:
		/* Отблеск */
		radial-gradient(circle at 30% 25%, #FFF 10%, transparent calc(10% + 2px)),
		/* Зрачок */
		radial-gradient(#000 20%, transparent calc(20% + 2px)),
		/* Цвет радужки */
		linear-gradient(currentColor, currentColor),
		/* Градиент */
		radial-gradient(#FFCECE, #FF0000);

	/* Цвет радужной оболочки установлен в режим `color`, 
    чтобы применить цвет к градиенту радужной оболочки. */
	background-blend-mode: normal, normal, color, normal;
	background-size: contain;
	border-radius: 50%;
}

.hidden {
    display: none;
}